<div class="jumbotron center">
     <h1>Bienvenue sur votations.be!</h1>
     <p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
  </p>    Ceci n'est pas un site de pétitions, ceci est une plateforme de décision.
</div>